<!DOCTYPE html>
<html>
  <head>
    <title>List & Get</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'authentication-bundle', 'shared-bundle' %>
    <%= stylesheet_pack_tag 'authentication-bundle', 'shared-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
